html {
  font-size: calc(8px + 1vmin);
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

main {
  font-size: 2.5rem;
  font-family: Garamond, Palatino, serif;
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  margin: 1em 2em 0;
}

ul, ol {
  margin: 0.5em 2.5em auto;
}

a {
  color: #39f;
}

a:visited {
  color: #d9d;
}

a:hover {
  color: #39f;
}

code {
  background: #fff3;
  padding: 0.05em 0.15em;
  margin: -0.05em -0.15em;
}

#slideshow section {
  display: flex;
  flex-direction: column;
}

#slideshow blockquote {
  text-align: center;
  position: relative;
  font-size: 2.5rem;
  margin: auto auto 0.5em;
  padding: 0 2.5em;
  quotes: "“" "„" "‘" "’";
  min-height: 2.5em;
  line-height: 2em;
  max-width: max-content;
}

#slideshow blockquote::before {
  font-family: "Times New Roman";
  content: open-quote;
  position: absolute;
  top: -1.25rem;
  left: 0;
  font-size: 13rem;
  opacity: 0.2;
  z-index: 1;
}

#slideshow blockquote::after {
  font-family: "Times New Roman";
  content: close-quote;
  position: absolute;
  opacity: 0.2;
  bottom: 2.5rem;
  right: 0;
  font-size: 12.5rem;
}

#slideshow blockquote strong {
  text-transform: capitalize;
}

#slideshow > section {
  min-height: calc(100vh - 3.75rem);
  padding: 2.5rem 1rem 1.25rem 2rem;
}

#slideshow h1 {
  font-size: 5rem;
}

#slideshow h2 {
  font-size: 5rem;
  margin: 0 0 2.5rem 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#slideshow h2 span {
  display: flex;
  align-items: center;
}

#slideshow li {
  margin-top: 0.5em;
}

#slideshow #intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#slideshow #intro h1 {
  position: relative;
  z-index: 2;
}

#slideshow .compare {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10vw;
  margin: auto 2em;
  width: calc(100% - 4em);
}

#slideshow .compare h3 {
  font-size: 3.75rem;
  margin: 0;
  grid-row: 1;
  text-align: center;
}

#slideshow .compare ul {
  margin: 0 auto 0 0;
}

@media screen and (max-width: 1023px) {
  #slideshow h2 {
    margin-bottom: 1em;
  }

  #slideshow .compare {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
}
