@font-face {
  font-family: "Beleren";
  font-style: normal;
  font-weight: 800;
  src: url(fonts/beleren-bold.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

main {
  color: #fff;
  background-color: #000;
  font-size: 40px;
  font-family: Garamond, Palatino, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Beleren;
  font-weight: bold;
}

a, a:visited {
  color: #56f;
}

a:hover {
  color: #89f;
}

#slideshow section {
  display: flex;
  flex-direction: column;
}

#slideshow blockquote {
  text-align: center;
  position: relative;
  font-size: 40px;
  margin: auto auto 0;
  padding: 0 2.5em;
  quotes: "“" "„" "‘" "’";
  min-height: 2.5em;
  line-height: 2em;
  max-width: max-content;
}

#slideshow blockquote::before {
  font-family: "Times New Roman";
  content: open-quote;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 200px;
  opacity: 0.2;
  z-index: 1;
}

#slideshow blockquote::after {
  font-family: "Times New Roman";
  content: close-quote;
  position: absolute;
  opacity: 0.2;
  bottom: 40px;
  right: 0;
  font-size: 200px;
}

#slideshow blockquote strong {
  text-transform: capitalize;
}

#slideshow > section {
  min-height: calc(100vh - 60px);
  padding: 40px 15px 20px 30px;
}

#slideshow h1 {
  font-size: 80px;
}

#slideshow h2 {
  font-size: 80px;
  margin: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#slideshow h2 span {
  display: flex;
  align-items: center;
}

#slideshow li {
  margin-top: 0.5em;
}

#slideshow .mana {
  width: 100px;
  margin: 10px 15px 10px 0;
}

#slideshow .logo {
  font-style: normal;
}

#slideshow .logo {
  width: 1.5em;
  margin: 0 -0.15em -0.5em 0;
}

#slideshow #intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#slideshow #intro h1 {
  position: relative;
  z-index: 2;
}

#slideshow #intro::before {
  content: " ";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.7;

  background-image: url(images/white.svg),
                    url(images/blue.svg),
                    url(images/black.svg),
                    url(images/red.svg),
                    url(images/green.svg);
  background-size: 20vmin;
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 32vmin),
                       calc(50% + 32vmin) calc(50% - 7vmin),
                       calc(50% + 18vmin) calc(50% + 28vmin),
                       calc(50% - 18vmin) calc(50% + 28vmin),
                       calc(50% - 32vmin) calc(50% - 7vmin);
}

/* Font colors for the Colors */
.white {
  color: #fffbd5;
}

.blue {
  color: #aae0fa;
}

.black {
  color: #cbc2bf;
}

.red {
  color: #f9aa8f;
}

.green {
  color: #9bd3ae;
}

#slideshow .traits {
  display: grid;
  grid-template-columns: 1fr 2em 475px 350px 1fr;
  grid-template-rows: auto auto;
}

#slideshow > section > section {
  margin: auto 0;
}

#slideshow > section > section h3 {
  grid-row: 1;
  font-size: 60px;
  margin: 30px 0 20px;
}

#slideshow > section > section ul {
  grid-row: 2;
  margin: 0;
  width: 80%;
}

#slideshow > section > section :first-of-type {
  grid-column: 3;
}

#slideshow > section > section :last-of-type {
  grid-column: 4;
}

#slideshow .pov {
  display: grid;
  grid-template-columns: 1fr 2em 600px 600px 1fr;
  grid-template-rows: auto auto;
}

@media (max-width: 1023px) {
  #slideshow .traits, #slideshow .pov {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
}

/* Slides */
#white {
  background: #211d15;
}

#blue {
  background: #061922;
}

#black {
  background: #130c0e;
}

#red {
  background: #200000;
}

#green {
  background: #00160b;
}

.color-wheel {
  position: relative;
}

.color-wheel img {
  width: 20vmin;
  position: absolute;
}

.color-wheel img.white {
  left: calc(50% - 10vmin);
}

.color-wheel img.blue {
  top: calc(50% - 17vmin);
  left: calc(50% + 22vmin);
}

.color-wheel img.black {
  top: calc(50% + 18vmin);
  left: calc(50% + 8vmin);
}

.color-wheel img.red {
  top: calc(50% + 18vmin);
  right: calc(50% + 8vmin);
}

.color-wheel img.green {
  top: calc(50% - 17vmin);
  right: calc(50% + 22vmin);
}

span.vs {
  margin: 0 0.25em;
}

#white-vs-black {
  background: linear-gradient(
    110deg,
    #211d15, #211d15 50%,
    #130c0e 50%, #130c0e);
}

#blue-vs-red {
  background: linear-gradient(
    110deg,
    #061922, #061922 50%,
    #200000 50%, #200000);
}

#black-vs-green {
  background: linear-gradient(
    110deg,
    #130c0e, #130c0e 50%,
    #00160b 50%, #00160b);
}

#red-vs-white {
  background: linear-gradient(
    110deg,
    #200000, #200000 50%,
    #211d15 50%, #211d15);
}

#green-vs-blue {
  background: linear-gradient(
    110deg,
    #00160b, #00160b 50%,
    #061922 50%, #061922);
}

#resources ul {
  margin-left: 0.5em;
}
