#timer {
  letter-spacing: 1px;
  position: fixed;
  top: 10px;
  right: 10px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5px;
  font-size: 20px;
}

#timer button {
  margin-top: -5px;
  padding: 5px 5px 3px;
  font-family: Helvetica, sans-serif;
  letter-spacing: normal;
}

#timer .tens {
  opacity: 0.4;
}

#timer .ones {
  opacity: 0.2;
}

#timer.urgent span {
  opacity: 1;
}

#timer.overtime {
  color: #f00;
}
